In [1]:
import findspark
findspark.init('/home/duynguyen/spark-2.1.0-bin-hadoop2.7')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Logistic3').getOrCreate()

In [3]:
data = spark.read.csv('customer_churn.csv',inferSchema=True,header=True)

In [4]:
data.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [6]:
data.show()

+-------------------+---------------+--------------------+---------------+-----+---------+--------------------+--------------------+-------+-----+
|              Names|            Age|      Total_Purchase|Account_Manager|Years|Num_Sites|        Onboard_date|            Location|Company|Churn|
+-------------------+---------------+--------------------+---------------+-----+---------+--------------------+--------------------+-------+-----+
|   Cameron Williams|           42.0|             11066.8|              0| 7.22|      8.0|2013-08-30 07:00:...|10265 Elizabeth M...|   null| null|
|        Barkerburgh|      AK 89518"|          Harvey LLC|              1| null|     null|                null|                null|   null| null|
|      Kevin Mueller|           41.0|            11916.22|              0|  6.5|     11.0|2013-08-13 00:38:...|6157 Frank Garden...|   null| null|
|        Carloshaven|      RI 17756"|          Wilson PLC|              1| null|     null|                null|                null|   null| null|
|        Eric Lozano|           38.0|            12884.75|              0| 6.67|     12.0|2016-06-29 06:20:...|    1331 Keith Court|   null| null|
|        Alyssahaven|      DE 90114"|Miller, Johnson a...|              1| null|     null|                null|                null|   null| null|
|      Phillip White|           42.0|             8010.76|              0| 6.71|     10.0|2014-04-22 12:43:...|  13120 Daniel Mount|   null| null|
|         Angelabury| WY 30645-4695"|           Smith Inc|              1| null|     null|                null|                null|   null| null|
|     Cynthia Norton|           37.0|             9191.58|              0| 5.56|      9.0|2016-01-19 15:31:...|      765 Tricia Row|   null| null|
|         Karenshire|      MH 71730"|          Love-Jones|              1| null|     null|                null|                null|   null| null|
|   Jessica Williams|           48.0|            10356.02|              0| 5.12|      8.0|2009-03-03 23:13:...|6187 Olson Mountains|   null| null|
|East Vincentborough|      PR 74359"|        Kelly-Warren|              1| null|     null|                null|                null|   null| null|
|        Eric Butler|           44.0|            11331.58|              1| 5.23|     11.0|2016-12-05 03:35:...|  4846 Savannah Road|   null| null|
|        West Justin| IA 87713-3460"|   Reynolds-Sheppard|              1| null|     null|                null|                null|   null| null|
|      Zachary Walsh|           32.0|             9885.12|              1| 6.92|      9.0|2006-03-09 14:50:...|25271 Roy Express...|   null| null|
|          Brownport| FM 59852-6150"|          Singh-Cole|              1| null|     null|                null|                null|   null| null|
|        Ashlee Carr|           43.0|             14062.6|              1| 5.46|     11.0|2011-09-29 05:47:...|3725 Caroline Str...|   null| null|
|South Christineview|      MA 82059"|           Lopez PLC|              1| null|     null|                null|                null|   null| null|
|     Jennifer Lynch|           40.0|             8066.94|              1| 7.11|     11.0|2006-03-28 15:42:...|363 Sandra Lodge ...|   null| null|
|          South Ann| WI 51655-7561"|       Reed-Martinez|              1| null|     null|                null|                null|   null| null|
+-------------------+---------------+--------------------+---------------+-----+---------+--------------------+--------------------+-------+-----+
only showing top 20 rows

In [8]:
data.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [9]:
my_data = data.select(['Age',
 'Total_Purchase',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Churn'])

In [10]:
my_data.show()

+---------------+--------------------+-----+---------+--------------------+-----+
|            Age|      Total_Purchase|Years|Num_Sites|        Onboard_date|Churn|
+---------------+--------------------+-----+---------+--------------------+-----+
|           42.0|             11066.8| 7.22|      8.0|2013-08-30 07:00:...| null|
|      AK 89518"|          Harvey LLC| null|     null|                null| null|
|           41.0|            11916.22|  6.5|     11.0|2013-08-13 00:38:...| null|
|      RI 17756"|          Wilson PLC| null|     null|                null| null|
|           38.0|            12884.75| 6.67|     12.0|2016-06-29 06:20:...| null|
|      DE 90114"|Miller, Johnson a...| null|     null|                null| null|
|           42.0|             8010.76| 6.71|     10.0|2014-04-22 12:43:...| null|
| WY 30645-4695"|           Smith Inc| null|     null|                null| null|
|           37.0|             9191.58| 5.56|      9.0|2016-01-19 15:31:...| null|
|      MH 71730"|          Love-Jones| null|     null|                null| null|
|           48.0|            10356.02| 5.12|      8.0|2009-03-03 23:13:...| null|
|      PR 74359"|        Kelly-Warren| null|     null|                null| null|
|           44.0|            11331.58| 5.23|     11.0|2016-12-05 03:35:...| null|
| IA 87713-3460"|   Reynolds-Sheppard| null|     null|                null| null|
|           32.0|             9885.12| 6.92|      9.0|2006-03-09 14:50:...| null|
| FM 59852-6150"|          Singh-Cole| null|     null|                null| null|
|           43.0|             14062.6| 5.46|     11.0|2011-09-29 05:47:...| null|
|      MA 82059"|           Lopez PLC| null|     null|                null| null|
|           40.0|             8066.94| 7.11|     11.0|2006-03-28 15:42:...| null|
| WI 51655-7561"|       Reed-Martinez| null|     null|                null| null|
+---------------+--------------------+-----+---------+--------------------+-----+
only showing top 20 rows

In [11]:
my_data = my_data.na.drop()

In [12]:
from pyspark.ml.feature import VectorAssembler

In [14]:
assembler = VectorAssembler(inputCols=['Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites'],outputCol='features')

In [16]:
my_data = assembler.transform(data)

IllegalArgumentException: 'Data type StringType is not supported.'